body {
    background-color: black;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}
#line1 {
    height: 100%;
    border: 0.5px solid yellow;
    position: absolute;
    left: 225px;
    top: 20px;
}
#line2 {
    height: 100%;
    border: 0.5px solid yellow;
    position: absolute;
    left: 425px;
    top: 20px;
}
#line3 {
    height: 100%;
    border: 0.5px solid yellow;
    position: absolute;
    left: 630px;
    top: 20px;
}
#line4 {
    height: 100%;
    border: 0.5px solid yellow;
    position: absolute;
    left: 755.5px;
    top: 20px;
}

#filters {
    display: flex;
    font-size: 9pt;
    width: 100%;
}
#category {
    width: 700px;
}
#bias {
    width: 700px;
    position: absolute;
    left: 240px;
}
#description {
    width: 700px;
    position: absolute;
    left: 440px;
    text-transform:capitalize;
}

#month {
    width: 700px;
    left: 770px;
    position: absolute;
}
#Racecolor {
    margin-bottom: -7px;
    cursor: pointer;
}
#Racecolor:hover {
    opacity: 0.8;
}
#Race {
    margin-bottom: -7px;
}
#Race:hover {
    opacity: 0.8;
}
#offense {
    position: absolute;
    left: 440px;
}
#area {
    left: 644px;
    position: absolute;
}
#title {
    position: absolute;
    font-family: "fit", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 72pt;
    left: 877.8px;
    top: -93px;
}
#dosveinte {
    font-size: 238.5pt;
    margin-top: -150px;
    left: -1.7px;
    position: absolute;
}
#trs {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 300pt;
    position: absolute;
    left: 19%;
    top: -52%;
    opacity: 0.7;
    animation: blinktrs infinite 4s;
}
#ochun {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 300pt;
    position: absolute;
    left: 19%;
    top: -52%;
    opacity: 0.7;
    animation: blinktrs infinite 4s;
}
@keyframes blinktrs {
    0% {color: red;}
    25%{color: red;}
    50% {color: red;}
    75% {color: black;}
    100% {color: red;}
}
#hatecrimes {
    width: 360px;
    position: absolute;
    left: 878.8px;
    top: 335px;
    text-align: left;
    font-size: 11pt;
    max-height: 300px;
    overflow-y: auto; 
    direction: rtl; 
    padding-left: 12px;
    hanging-punctuation: first;
}
#hatecrimes::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    margin-right: 20px;
}

#hatecrimes::-webkit-scrollbar-track {
    background: yellow; 
}

#hatecrimes::-webkit-scrollbar-thumb {
    background: chartreuse;
}
#thisdoc {
    color: yellow;
}
#by {
    font-size: 8pt;
}

.categories,
.biases,
.descriptions,
.areas,
.months {
    padding-bottom: -3px;
    margin: 7px 0;
    cursor: pointer;
    width: 200px;
}
.categories:hover,
.biases:hover,
.descriptions:hover,
.areas:hover,
.months:hover {
    color: chartreuse;
}

.catheader {
    font-weight: 700;
    padding-bottom: 10px;
}
#resetButton {
    background-color: black;
    color: yellow;
    border: none;
    cursor: pointer;
    top: 545px;
    left: 1px;
    position: absolute;
    font-size: 36pt;
}
#resetButton:hover {
    color: red;
}

#hateCrimesCount {
    color: red;
    opacity: 0.7;
    position: absolute;
    font-size: 350pt;
    right: 36vh;
    top: 6vh;
    z-index: -5;
    animation: countanim infinite 3s;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
@keyframes countanim {
    0% {color: red;}
    25%{color: red;}
    50% {color: red;}
    75% {color: black;}
    100% {color: red;}
}

@media screen and (max-width: 1024px) {
    #filters {
        font-size: 12pt;
        top: 800px;
        position: absolute;
        left: 20px;
        display: block;
    }
    #title {
        left: 19px;
    }
    #hatecrimes {
        left: 18.5px;
        max-height: 300px;
    }
    #hateCrimesCount {
        top: -230px;
        font-size: 175pt;
        position: absolute;
        left: -10px;
    }
    #resetButton {
        top: 2000px;
    }
}